In [26]:
import pandas as pd
!wget -q -O 'Geospatial_data.csv' https://cocl.us/Geospatial_data
df_data_1 = pd.read_csv('Geospatial_data.csv')
df_data_1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [27]:
df_Toronto=pd.read_csv('TORONTO_DATA.csv')

In [28]:
df_data_1.rename(columns={"Postal Code": "Postal code"}, inplace=True)
df_data_1.head()

  Postal code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [29]:
df_merged = pd.merge(df_Toronto, df_data_1, how='left', on=['Postal code'])

In [30]:
df_merged.head()

,Unnamed: 0,Postal code,Borough,Neighborhood,Latitude,Longitude
0,0,M1B,Scarborough,"Malvern , Rouge",43.806686,-79.194353
1,1,M1C,Scarborough,"Rouge Hill , Port Union , Highland Creek",43.784535,-79.160497
2,2,M1E,Scarborough,"Guildwood , Morningside , West Hill",43.763573,-79.188711
3,3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [31]:
df_merged.drop('Unnamed: 0', axis=1, inplace=True)

In [32]:
df_merged.head()

,Postal code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern , Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill , Port Union , Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood , Morningside , West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476