# Applied Data Science Capstone Assignment

In [385]:
import pandas as pd  # library for data analsysis
import numpy as np # library for calculations and data handling

In [386]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', skiprows=0)[0] # pandas method to import a table from WEBPAGE

In [387]:
df = pd.DataFrame(dfs) # Conversion of HTML Table to DATAFRAME 
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [388]:
df.drop(df[df['Borough']== 'Not assigned'].index, inplace=True) # Drpping in Not assigned "Borough"
df.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [389]:
df=df.groupby(['Postal code','Borough','Neighborhood']).count().reset_index() # Grouping Together all the DATA with prefernce to Postal Code
df.head()

  Postal code      Borough                              Neighborhood
0         M1B  Scarborough                           Malvern / Rouge
1         M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2         M1E  Scarborough       Guildwood / Morningside / West Hill
3         M1G  Scarborough                                    Woburn
4         M1H  Scarborough                                 Cedarbrae

In [390]:
df['Neighborhood'].replace(to_replace='/', value=',' ,inplace=True, regex=True)  # replacing the "/" in Neighborhood collumn to ","
df.head()

  Postal code      Borough                              Neighborhood
0         M1B  Scarborough                           Malvern , Rouge
1         M1C  Scarborough  Rouge Hill , Port Union , Highland Creek
2         M1E  Scarborough       Guildwood , Morningside , West Hill
3         M1G  Scarborough                                    Woburn
4         M1H  Scarborough                                 Cedarbrae

In [391]:
#If a row has a borough but a Not assigned neighborhood, then changing its value to same as its borough

df.loc[df['Neighborhood'] == 'Not assigned', 'Neighborhood'] = df['Borough']

In [392]:
df.shape

(103, 3)